# Xcode
xcuserdata/
DerivedData/
build/

# Python virtual environment
.venv/

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj
!sample/A2UISampleClient.xcodeproj
!sample/A2UISampleClient.xcodeproj/project.pbxproj
.swiftpm
.build/
